<!DOCTYPE html>
<html>  
    <head>
    <title>人脸识别|人证校验|人脸搜索</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="人脸识别, 人脸搜索" />
        <!--fonts-->
        <!-- <link href="http://fonts.useso.com/css?family=Audiowide" rel="stylesheet" type="text/css">
        <link href="http://fonts.useso.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css"> -->
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <!--custom-css-->
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="/javascripts/faceall-activex.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>  
    <body>
        <div class="header" id="home">
            <div class="banner">
                <div class="container">
                    <nav class="navbar navbar-default bg">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="logo">
                            <a href="index.html">Face<span>-All</span></a>
                        </div>
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed mod" data-toggle="collapse"                                  
                          data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar wt"></span>
                            <span class="icon-bar wt"></span>
                            <span class="icon-bar wt"></span>
                          </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse bod" id="bs-example-navbar-collapse-1"> 
                          <ul class="nav navbar-nav navbar-right navigate">
                            <li><a href="#about" class="scroll">ABOUT</a></li>
                            <li><a href="#services" class="scroll">SERVICES</a></li>
                            <li><a href="#Solutions" class="scroll">SOLUTIONS</a></li>
                            <li><a href="#contact" class="scroll">CONTACT</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
            </div>
         </div>
            <div class="banner-slider">
                <div class="slider">
                    <div class="callbacks_container">
                      <ul class="rslides" id="slider">
                        <li>
                          <img src="images/1.jpg" alt="" class="img-responsive" />
                          <div class="caption chn">
                            <h3>We are Face-All</h3>
                            <p>We Believe in Simple and Effective Solutions that Pays!</p>
                            <a class="morebtn" href="#about">LEARN MORE</a>
                          </div>
                        </li>
                        <li>
                          <img src="images/2.jpg" alt="" class="img-responsive" />
                            <div class="caption chn">
                            <h3>CREATIVE SOLUTIONS</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <a class="morebtn" href="#about">LEARN MORE</a>
                          </p>
                            </div>
                        </li>
                        <li>
                          <img src="images/3.jpg" alt="" class="img-responsive" />
                            <div class="caption chn">
                            <h3>Being a dreamer</h3>
                            <p>but not living in a dream world.</p>
                            <a class="morebtn" href="#about">LEARN MORE</a>
                            </div>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="about-deer" id="about">
            <div class="container">
                <div class="about-para">
                    <h1>About Face-All</h1>
                    <p>在人脸300-W的68个关键点检测上，错误率控制在5.31%，远低于目前文献中报道的6.31%。<br/>该服务可以用于人脸美图中的人脸关键点定位、医疗美容的唇线定位以及基于人脸的增强现实应用。</p>
                </div>
                <div class="about-grid">
                    <div class="col-md-4 grid lft" style='text-align:center'>
                        <h4>人脸检测</h4>
                        <p>我们的人脸检测技术，在全球最具权威的人脸检测平台FDDB上准确率达到了90%，达到世界先进水平。</p>
                    </div>
                    <div class="col-md-4 grid cen">
                        <h4>人脸验证(1:1)</h4>
                        <p>在公开基准测试数据集Labeled Faces in the Wild（LFW）上准确率高于99.4%，达到世界先进水平（同一数据集谷歌的准确率为99.65%）。</p>
                    </div>
                    <div class="col-md-4 grid rgt" style='text-align:center'>
                        <h4>人脸搜索 (1:N)</h4>
                        <p>在2015 Megaface人脸搜索评测中，100万张人脸数据集的人脸搜索性能评估，一选率为64%，排名第三；谷歌的一选率为70%，排名第二。</p>
                    </div>
                <div class="clear-fix"></div>
                </div>
            </div>
        </div>
        <div class="deer-sollution" id="Solutions">
            <div class="container">
                <h2>Face-all Solutions</h2>
                <p>我们优化算法不只为在评测数据集上取得最优成绩，而是通过优化<br/>更贴近实际的真实场景图片，使之成为在真实情况下最优的人脸识别、图像识别引擎。</p>
                <a href="#">VIEW MORE</a>
            </div>
        </div>
        <div class="deer-services" id="services">
            <div class="container">
                <h3>Services</h3>
                <div class="statistics">
                    <div class="sap_tabs">  
                         <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                            <ul class="resp-tabs-list">
                                <li class="resp-tab-item fs" aria-controls="tab_item-0" role="tab">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>人证校验</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                                <li class="resp-tab-item fs" aria-controls="tab_item-1" role="tab">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>人脸识别</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                                <div class="clearfix"></div>
                            </ul> 
                                <div class="resp-tabs-container">
                                    <div class="tab-1 resp-tab-content msg" aria-labelledby="tab_item-0">
                                        <div class="container-fluid">
                                            <div class="about-grid" style="text-align:center;width:960px;margin-right:auto;margin-left:auto;">
                                                <div class="col-md-4 grid lft" style='width:320px;text-align:center'>
                                                    <h5>证件照片</h5>
                                                    <canvas id="ridp" style="background:url('images/bg1.jpg');">
                                                </div>
                                                <div class="col-md-4 grid cen" style='width:320px;text-align:center'>
                                                    <h5>登记照片</h5>
                                                    <canvas id="rpic" style="background:url('images/bg1.jpg');">
                                                </div>
                                                <div class="col-md-4 grid rgt" style='text-align:center'>
                                                    <form role="form" style="width:292px;height:385px;">
                                                        <div class="form-group">
                                                            </br></br><label for="place" class="col-sm-4" style="line-height:32px;">登记地点:</label>
                                                            <div class="col-lg-8">
                                                                </br><select id="rplace" class="form-control selpla">
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="rname" class="col-sm-4" style="line-height:32px;">访客姓名:</label>
                                                            <div class="col-lg-8" >
                                                                </br><input type="text" class="form-control" id="rname" 
                                                                    readonly="readonly" placeholder="访客姓名">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="rcid" class="col-sm-4" style="line-height:32px;">身份证号:</label>
                                                            <div class="col-lg-10" style="float:right;">
                                                                <input type="text" class="form-control" id="rcid" 
                                                                    readonly="readonly" placeholder="身份证号" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="rtime" class="col-sm-4" style="line-height:32px;">登记时间:</label>
                                                            <div class="col-lg-10" style="float:right;">
                                                                <input type="text" class="form-control" id="rtime"
                                                                    readonly="readonly" placeholder="登记时间" >
                                                            </div>
                                                        </div>
                                                        <div style="padding-top:275px;">
                                                        <button type="button" id="rbtn" class="btn btn-default">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-1 resp-tab-content msg" aria-labelledby="tab_item-1">
                                        <div class="container-fluid">
                                            <div class="about-grid" style="text-align:center;width:900px;margin:auto;">
                                                <div class="col-md-4 grid lft" style="margin-left:160px;">
                                                    <div style='width:320px;text-align:center;'>
                                                        <h5>实时照片</h5>
                                                        <canvas id="rec" style="background:url('images/bg1.jpg');">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 grid rgt">
                                                    <div style="width:320px;text-align:left;">
                                                        <form role="form">
                                                            <div class="form-group" style="padding-top:120px;padding-left:90px">
                                                                <b>&nbsp;&nbsp;&nbsp;&nbsp;验证地点:</b></br></br>
                                                                <div class="col-lg-10">
                                                                    <select id="cplace" class="form-control selpla">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div style="padding-top:60px;padding-left:220px;">
                                                                <button type="button" id="cbtn" class="btn btn-default">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;</button>

                                                                </br></br>
                                                                <button type="button" id="tc1" class="btn btn-default">
                                                                    ----弹窗----</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gray"></div>
        <div class="fpopup">
            <div class="top_nav" id='top_nav'>
                <div align="center">
                    <i></i>
                    <span>验证成功</span>
                    <a class="guanbi"></a>
                </div>
            </div>
            <div class="min">
                <div class="tc_login">
                    <div class="left">
                        <div align="center">
                            <img id="crpic" src="images/bg2.jpg" />
                        </div>
                    </div>
                    <div class="right">
                        <form name="form_login" target="_top">
                            <div style="font-size:16px;padding-left:20px;text-align:left">
                            </br></br>
                                <p>访客姓名：</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span id="cname">许魏洲</span>               </br></br>
                                身份证号：   </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span id="ccid">230711199710200016</span>   </br></br>
                                登记时间：   </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span id="ctime">1999年10月20日17:32</span>  </p></br></br>
                            </div>
                            <div style="padding-left:120px">
                            <button type="button" id="conbtn" class="btn btn-default">
                                &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
        </div>

        <div class="foot-ban"> 
            <h3><q>There is Beauty in Simplicity</q></h3>
        </div>
        <div class="contact" id="contact">
            <h3>Contact</h3>
            <p>Zhang,J.Z &nbsp; &amp; &nbsp; J.Y.Zhu &nbsp;&nbsp;&nbsp;BUPT</p>
        </div>
        <!--footer-->
        <div class="footer" id="foot">
            <div class="container">
                <div class="col-md-3 logo flt">
                    <a href="#">Face<span>-All</span></a>
                </div>
                <div class="col-md-6 cpyrt fltt">
                    <p>Copyright &copy; 2015.Face-All All rights reserved.</p>
                </div>
                <div class="col-md-3 flt">
                    <div class="social">
                        <ul>
                            <li><a href="#" class="face"></a></li>
                            <li><a href="#" class="twit"></a></li>
                            <li><a href="#" class="in"></a></li>
                            <li><a href="#" class="gpls"></a></li>
                            <li><a href="#" class="del"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--footer-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </body>
</html>