<!doctype html>
<html>  
    <head>
    <title>人脸识别|人证校验|人脸搜索</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="人脸识别, 人脸搜索" />
        <!--fonts-->
        <link href="http://fonts.useso.com/css?family=Audiowide" rel="stylesheet" type="text/css">
        <link href="http://fonts.useso.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <!--custom-css-->
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="/javascripts/faceall-activex.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>  
    <body>
        <div class="header" id="home">
            <div class="banner">
                <div class="container">
                    <nav class="navbar navbar-default bg">
                        <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="logo">
                              <a href="index.html">Face<span>-All</span></a>
                        </div>
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed mod" data-toggle="collapse"                                  data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar wt"></span>
                            <span class="icon-bar wt"></span>
                            <span class="icon-bar wt"></span>
                          </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse bod" id="bs-example-navbar-collapse-1"> 
                          <ul class="nav navbar-nav navbar-right navigate">
                            <li><a href="#about" class="scroll">ABOUT</a></li>
                            <li><a href="#services" class="scroll">SERVICES</a></li>
                            <li><a href="#projects" class="scroll">PROJECTS</a></li>
                            <li><a href="#contact" class="scroll">CONTACT</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                          <div class="clearfix"></div>
                    </nav>
                <!--start-smoth-scrolling-->
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $(".scroll").click(function(event){   
                            event.preventDefault();
                            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                        });
                    });
                </script>
                <!--start-smoth-scrolling-->
            <div class="clear"></div>
            </div>
         </div>
            <div class="banner-slider">
                <script>
                    $(function () {
                      $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                      });
                    });
                  </script>
                  </script>
                <div class="slider">
                    <div class="callbacks_container">
                      <ul class="rslides" id="slider">
                        <li>
                          <img src="images/11.jpg" alt="" class="img-responsive" />
                          <div class="caption chn">
                            <h3>WE ARE Face-All CREATIVE SOLUTIONS</h3>
                            <p>We Believe in Simple and Effective Solutions that Pays!</p>
                            <a class="morebtn" href="#">LEARN MORE</a>
                          </div>
                        </li>
                        <li>
                          <img src="images/22.jpg" alt="" class="img-responsive" />
                            <div class="caption chn">
                             <h3>HEADING2 HERE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a class="morebtn" href="#">LEARN MORE</a>
                          </p>
                            </div>
                        </li>
                        <li>
                          <img src="images/33.jpg" alt="" class="img-responsive" />
                            <div class="caption chn">
                            <h3>WE ARE Play-offs CREATIVE SOLUTIONS</h3>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <a class="morebtn" href="#">LEARN MORE</a>
                            </div>
                        </li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="about-deer" id="about">
            <div class="container">
                <div class="about-para">
                    <h1>About Face-All</h1>
                    <p>在人脸300-W的68个关键点检测上，错误率控制在5.31%，远低于目前文献中报道的6.31%。<br/>该服务可以用于人脸美图中的人脸关键点定位、医疗美容的唇线定位以及基于人脸的增强现实应用。</p>
                </div>
                <div class="about-grid">
                    <div class="col-md-4 grid lft">
                        <h4>人脸检测</h4>
                        <p>我们的人脸检测技术，在全球最具权威的人脸检测平台FDDB上达到90%，达到世界先进水平。</p>
                    </div>
                    <div class="col-md-4 grid cen">
                        <h4>人脸验证(1:1)</h4>
                        <p>在公开基准测试数据集Labeled Faces in the Wild（LFW）上准确率高于99.4%，达到世界先进水平。（同一数据集谷歌的准确率为99.65%）</p>
                    </div>
                    <div class="col-md-4 grid rgt">
                        <h4>人脸搜索 (1：N)</h4>
                        <p>在2015 Megaface人脸搜索评测中，在100万张人脸数据集的人脸搜索性能评估中，我们的一选率为64%,排名第三；谷歌的一选率为70% , 排名第二。</p>
                    </div>
                <div class="clear-fix"></div>
                </div>
            </div>
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
        <div class="deer-sollution">
            <div class="container">
                <h2>Face-all Solutions</h2>
                <p>我们优化算法不只为在评测数据集上取得最优成绩，而是通过优化<br/>更贴近实际的真实场景图片，使之成为在真实情况下最优的人脸识别、图像识别引擎。</p>
                <a href="#">VIEW MORE</a>
            </div>
        </div>
        <div class="deer-services" id="services">
            <div class="container">
                <h3>Services</h3>
                <div class="statistics">
                    <div class="sap_tabs">  
                         <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                              <ul class="resp-tabs-list">
                                   <li class="resp-tab-item fs" aria-controls="tab_item-0" role="tab">                                             <span>SOUL</span></li>
                                    <li class="resp-tab-item fs" aria-controls="tab_item-1" role="tab">
                                    <span>TEAM-SPLITING</span></li>
                                     <li class="resp-tab-item fs" aria-controls="tab_item-2" role="tab">                                           <span>SPORTS-MEMBERS</span></li>
                                  <div class="clearfix"></div>
                              </ul>            
                                <div class="resp-tabs-container">
                                    <div class="tab-1 resp-tab-content msg" aria-labelledby="tab_item-0">
                                        <img src="images/a.jpg" alt="" class="img-responsive"/>
                                        <h4>SOUL</h4>
                                        <P>Place your text here. orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. isi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
    commodo consequat. uis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.                               </P>
                                        <a href="#">HIRE US</a>
                                    </div>
                                    <div class="tab-1 resp-tab-content msg" aria-labelledby="tab_item-1">
                                        <img src="images/b.jpg" alt="" class="img-responsive"/>
                                        <h4>TEAM-SPLITING</h4>
                                        <p>Place your text here. orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. isi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
    commodo consequat. uis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.                               </p>
                                        <a href="#">HIRE US</a>
                                    </div>
                                    <div class="tab-1 resp-tab-content msg" aria-labelledby="tab_item-2">
                                        <img src="images/c.jpg" alt="" class="img-responsive"/>
                                        <h4>SPORTS-MEMBERS</h4>
                                        <p>Place your text here. orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. isi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
    commodo consequat. uis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.                               </p>
                                        <a href="#">HIRE US</a>
                                    </div>
                                </div>
                        </div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#horizontalTab').easyResponsiveTabs({
                                        type: 'default', //Types: default, vertical, accordion           
                                        width: 'auto', //auto or any width like 600px
                                        fit: true   // 100% fit in a container
                                    });
                                });
                            </script> 
                    </div>
                </div>
            </div>
        </div>


            <div class="foot-ban"> 
                <h3><q>There is Beauty in Simplicity</q></h3>
            </div>
            <div class="contact" id="contact">
                <h3>Contact</h3>
                <p>Zhang,J.Z &nbsp; &amp; &nbsp; J.Y.Zhu &nbsp;&nbsp;&nbsp;BUPT</p>
            </div>
            <!--footer-->
            <div class="footer" id="foot">
                <div class="container">
                    <div class="col-md-3 logo flt">
                        <a href="#">Face<span>-All</span></a>
                    </div>
                    <div class="col-md-6 cpyrt fltt">
                        <p>Copyright &copy; 2015.Face-All All rights reserved.</p>
                    </div>
                    <div class="col-md-3 flt">
                        <div class="social">
                            <ul>
                                <li><a href="#" class="face"></a></li>
                                <li><a href="#" class="twit"></a></li>
                                <li><a href="#" class="in"></a></li>
                                <li><a href="#" class="gpls"></a></li>
                                <li><a href="#" class="del"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--footer-->
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </body>
</html>