<!DOCTYPE html>
<html>  
    <head>
    <title>人脸识别|人证校验|人脸搜索</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="人脸识别, 人脸搜索" />
        <link href="/stylesheets/faceall-activex.css" rel="stylesheet" type="text/css">
    </head>  
    <body>
        <object id="myactivex" classid="CLSID:A828C04C-F9C3-4617-B6F1-9A992F03AFD3" onerror="alert('error')" style="display:none;"></object>
        <script src="/javascripts/faceall-activex.js"></script>
    </body>
</html>