<!DOCTYPE html>
<html>
<head>
    <title>人脸识别|人证校验|人脸搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="人脸识别, 人脸搜索" />
    <link href="/stylesheets/faceall-activex.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/faceall-activex.js"></script>
</head>  
<body>
    <div class="header">
        <h1>监狱验证系统</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 home-section">
                <a class="btn btn-primary" href="register">
                    <img src="/images/sign-up.png">
                    <p>登记入口</p>
                </a>
            </div>
            <div class="col-xs-6 home-section">
                <a class="btn btn-warning" href="checkin">
                    <img src="/images/search-male-user.png">
                    <p>验证入口</p>
                </a>
            </div>
        </div>
    </div>
    <div class="footer" id="foot">
        <div class="container">
            <div class="col-md-3 logo flt">
                <a href="#">Face<span>-All</span></a>
            </div>
            <div class="col-md-6 cpyrt fltt">
                <p>Copyright &copy; 2015.Face-All All rights reserved.</p>
            </div>
            <div class="col-md-3 flt">
                <div class="social">
                    <ul>
                        <li><a href="#" class="face"></a></li>
                        <li><a href="#" class="twit"></a></li>
                        <li><a href="#" class="in"></a></li>
                        <li><a href="#" class="gpls"></a></li>
                        <li><a href="#" class="del"></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>